<%- include ('templates/header'); -%>
    <div class='container'>
        	<div class='jumbotron'>
        		<h3 class = "title" align = center> Cart Items </h3> <img class= "cheeseImage" src= "https://media1.giphy.com/media/amBY86NnEamRTF9zyL/giphy.gif">
        	</div>
    </div>
    
    <div class='container'>
        <div class='row'>
            
        </div>
    </div>
    
    <div class = 'container2'>
        <div class = 'vertical-center'>
            <button class="button">Done</button><br></br>
        </div>
    </div>
<%- include ('templates/footer'); -%>