<%- include ('templates/header'); -%>
        <div class='container'>
        	<div class='jumbotron'>
        		<h3 class = "title"> Chees O </h3> <img id= "cheese" src= "https://media1.giphy.com/media/amBY86NnEamRTF9zyL/giphy.gif">
        		<br><br>
        		<a class='button btn' href='/login'>Login</a>
        		<a class='button btn' href='/register'>Register</a>
        	</div>
        </div>
        
        <a class='button btn' href='/adminLogin'>Admin</a>
<%- include ('templates/footer'); -%>