<!DOCTYPE html>
<html>
  <head>
    <title>Chees O </title>
    <link rel = "icon" href ="https://freepngimg.com/png/10929-cheese-free-download-png/icon" type = "image/x-icon">
    <link rel="icon" href="http://example.com/favicon.png">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
    <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
		<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
		<link rel='stylesheet' type='text/css' href='css/app.css'>
		<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Niconne&family=Shrikhand&display=swap" rel="stylesheet">
    </style>
  </head>
  <body>